body {
    background-color: deepskyblue;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;

    nav {
        display: flex;
        justify-content: center;
        gap: 1rem;
    }

    #content {
        display: grid;
        place-content: center;
        margin: auto;
        text-align: center;
    }

}